{% extends "base.html" %}

{% block content%}
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <br><br>
          <br><br><br>
          <h5>Contact Information</h5><br>
          <p class="lead">
          Contact Person: Santhoshini Gongidi<br>
          Email: santhoshini.gongidi@research.iiit.ac.in<br>
          Address: CVIT, IIIT Hyderabad
          </p>
        </div>
      </div>
    </div>

{% endblock %}

{% block srcipts %}
    {% include "template_scripts.html" %}
{% endblock %}