{% extends "base.html" %}

{% block init_scripts %}
<script>

function redirect_home(){
  window.location.href = "{% url 'home'%}";
}

function redirect_people(){
  window.location.href = "{% url 'people'%}";
}

function redirect_prog(){
  window.location.href = "{% url 'progress'%}";
}

</script>
{% endblock %}

{% block content%}
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <br><br>
          <h5>FAQ</h5>
          <br>
          <ul class="list-styled">
          {% for obj in data %}
            <p class="lead">{{obj.question | safe}}</p>
            <p> {{obj.answer | safe}}</p>
            <!--p> {{obj.answer | safe}}</p-->
            
            <hr>
          {% endfor %}
          </ul>
          <br>
          <p class="font-weight-bold">For further queries, please contact us at santhoshini.gongidi@research.iiit.ac.in</p>

          <br><hr>
          <figure class="text-center" id="sample">
            <figcaption>Sample page that was filled by a volunteer for Telugu language.</figcaption>
            <img src="static/imgs/data.png">
          </figure>

        </div>
      </div>
    </div>

{% endblock %}

{% block srcipts %}
    {% include "template_scripts.html" %}
{% endblock %}