<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Handwritten Text Recognition Dataset Collection</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#">HTR Dataset for Indian Languages</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Motivation
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Progess</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="mt-5">How much data is collected until now?</h3>
          <br><br>
          <p class="lead">The aim is to collect 1 lakh words per script.</p>
          <table style="width:75%;">
            <tr>
              <th>Script</th>
              <th>Total Pages Collected</th>
              <th>Number of volunteers</th>
              <th>Percentage done</th>
            </tr>
            <tr>
              <td>Hindi</td>
              <td> </td>
              <td>-</td>
              <td>100%</td>
            </tr>
            <tr>
              <td>Telugu</td>
              <td> </td>
              <td>-</td>
              <td>100%</td>
            </tr>
            <tr>
              <td>Malayalam</td>
              <td>1200 </td>
              <td>15</td>
              <td>24%</td>
            </tr>
            <tr>
              <td>Bengali</td>
              <td>1000</td>
              <td>19</td>
              <td>20%</td>
            </tr><tr>
              <td>Punjabi</td>
              <td>1000</td>
              <td>20</td>
              <td>20%</td>
            </tr><tr>
              <td>Kannada</td>
              <td>450</td>
              <td>6</td>
              <td>9%</td>
            </tr><tr>
              <td>Tamil</td>
              <td>200</td>
              <td>4</td>
              <td>100%</td>
            </tr><tr>
              <td>Gujarati</td>
              <td>1000 </td>
              <td>17</td>
              <td>20%</td>
            </tr>
            <tr>
              <td>Odia</td>
              <td>300</td>
              <td>7</td>
              <td>6%</td>
            </tr>
          </table>
          <ul class="list-unstyled">
          </ul>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
